@import 'tailwindcss';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-display: Inter, sans-serif;

  --color-nav: #F8F9FA;
  --color-nav-text: #007BFF;
  --color-site-text: #343A40;
  --color-card-text: #212529;
  --color-card-price: #868E96;
  --color-login-background: #E9ECEF;
  --color-count-gray: #868E96;
  --color-table-top: #F8F8F8;
}

.orders-items-div {
  @apply pt-8 px-4 md:px-14 lg:px-8 pt-6;
}

.orders-footer-div {
  @apply flex justify-between items-center pt-8;
}

.orders-footer-span {
  @apply text-count-gray font-display text-lg;
}

.orders-footer-pagination {
  @apply flex justify-end mt-4;
}

.ant-table-cell {
  @apply !p-0;
}

.ant-table-cell:nth-child(1) {
  @apply !p-0 !w-240 !max-w-120;
}

.ant-table-content {
  @apply bg-white;
}

.ant-table-thead {
  @apply bg-table-top h-8;
}

.table-span {
  @apply pl-3 py-4
}

.table-span-head {
  @apply pl-3 py-2
}