@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

@import 'tailwindcss';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-display: Inter, sans-serif;

  --color-nav: #F8F9FA;
  --color-nav-text: #007BFF;
  --color-site-text: #343A40;
  --color-card-text: #212529;
  --color-card-price: #868E96;
  --color-login-background: #E9ECEF;
  --color-search-bg: #E2E8F0;
}

.navigation-bar {
  @apply flex items-center justify-between bg-nav text-site-text p-0;
}

.top-left-nav-tag {
  @apply flex font-semibold text-[16px] font-display text-center mt-4 pl-9;
}

.top-right-nav-tag {
  @apply flex font-display text-lg items-center gap-5 text-nav-text pr-9;
}

.top-right-text {
  @apply text-[12px] hover:text-blue-700 transition-colors;
}

.top-icons {
  @apply pt-4 pb-4 hover:text-blue-700 transition-colors;
}