@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

@import 'tailwindcss';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-display: Inter, sans-serif;

  --color-nav: #F8F9FA;
  --color-nav-text: #007BFF;
  --color-site-text: #343A40;
  --color-card-text: #212529;
  --color-card-price: #868E96;
  --color-login-background: #E9ECEF;
  --color-search-bg: #E2E8F0;
}

.content-grid-card {
  @apply w-full h-full flex flex-col justify-between p-0;
}

.card-image {
  @apply pr-3 pl-3 pt-3 pb-1.5 object-cover md:p-4;
}

.meta-content {
  @apply pr-3 pl-3 pb-3 md:pr-4 md:pl-4 md:pb-4
}

.card-text {
  @apply text-sm text-left font-semibold pb-2 break-words whitespace-normal overflow-visible line-clamp-3;
}

.card-description {
  @apply text-blue-500 w-full h-full text-left font-semibold;
}

.card-buttons {
  @apply flex items-center justify-between mt-4 w-full max-w-[500px];
}

.card-buttons-div {
  @apply flex flex-1 items-center gap-1;
}

.card-buttons-layout {
  @apply px-2 border border-[#DFDFDF] text-nav-text rounded-md w-full h-full max-w-6 max-h-8;
}

.card-buttons-span {
  @apply flex items-center justify-center border border-[#DFDFDF] rounded-md font-display w-full h-full max-w-6 max-h-8;
}

.cart-color {
  @apply flex gap-0.5;
}

.cart-color-span {
  @apply inline-block w-4 h-4 rounded-full border border-gray-300 mb-3.5;
}

.add-to-cart {
  @apply px-4 py-3 font-normal text-[16px] w-full h-full max-w-24 max-h-8;
}

.ant-card-meta-title {
  @apply font-medium text-sm !m-0;
}