@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

@import 'tailwindcss';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-display: Inter, sans-serif;

  --text-card-size: 32px;

  --color-login-background: #E9ECEF;
  --color-nav-text: #007BFF;
}

.cover {
  @apply w-full h-full flex items-center justify-center bg-login-background;
}

.login-card {
  @apply w-full max-w-400 pt-32 pb-32 px-4 flex flex-col items-center justify-center md:pt-37 md:pb-37 md:pr-59 md:pl-59 lg:py-34 lg:px-84;
}

.login-card-text {
  @apply text-nav-text p-11 font-display text-card-size;
}

.inner {
  @apply bg-white w-full max-w-205 shadow-lg rounded-2xl pt-8 pl-8 pr-8;
}

.ant-form-now {
  @apply w-full;
}

.ant-form-item {
  @apply pb-6 m-0;
}

.ant-form-item:nth-child(3) {
  @apply pb-8;
}

.ant-form-item:last-child {
  @apply pb-4;
}

.form-options {
  @apply text-center pb-8;
}

.form-hrefs {
  @apply text-nav-text hover:text-blue-700 hover:underline transition-colors;
}