@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

@import 'tailwindcss';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-display: Inter, sans-serif;

  --text-card-size: 32px;

  --color-login-background: #E9ECEF;
  --color-nav-text: #007BFF;
}

.cover {
  @apply w-full h-full flex items-center justify-center bg-login-background;
}

.login-card {
  @apply h-full w-full pt-32 pb-32 pr-4 pl-4 flex flex-col items-center justify-center md:pt-37 md:pb-37 md:pr-59 md:pl-59 lg:pt-42.5 lg:pb-42.5 lg:pr-95 lg:pl-95;
}

.login-card-text {
  @apply text-nav-text p-11 font-display text-card-size;
}

.inner {
  @apply bg-white max-w-205 shadow-lg rounded-2xl w-full pt-4.75 pl-8 pr-8;
}

.ant-form-now {
  @apply w-full pt-8 pb-8;
}

.form-options {
  @apply text-center;
}

.form-hrefs {
  @apply text-nav-text hover:text-blue-700 hover:underline transition-colors;
}