@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

@import 'tailwindcss';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-display: Inter, sans-serif;

  --color-search-bg: #E2E8F0;
  --color-search-icon: #00364B;
  --color-sidebar-text: #343A40;
  --color-logout-text: #EF1014;
}

.ant-layout-sider {
  @apply !w-full !max-w-[256px];
}

.sidebar-background {
  @apply bg-white shadow-md w-0 max-w-[256px] !h-full;
}

.sidebar-div {
  @apply flex flex-col pt-3 pb-4 px-5 h-full !max-w-64;
}

.sidebar-text {
  @apply font-display text-base text-sidebar-text font-bold pb-6;
}

.sidebar-buttons {
  @apply flex flex-col gap-3;
}

.sidebar-button {
  @apply flex justify-start items-center h-full max-h-10.5 gap-2.5 pl-6 py-3.5 pr-25;
}

.sider-button-span {
  @apply font-display font-semibold text-base;
}

.sidebar-span-div {
  @apply flex text-logout-text justify-start items-center gap-2.5 px-6 py-3.5 hover:text-red-300 cursor-pointer;
}

.sidebar-main-div {
  @apply flex flex-col justify-between h-full;
}